@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

.cursive {
  font-family: "Edu NSW ACT Cursive";
}

.best {
  font-family: "Edu NSW ACT Cursive";
}
